

.main-container {
  display: grid;
  grid-template-columns: 3fr 1fr; 
  gap: 20px; 
}

main {
  width: 100%; 
}

aside {
  width: 100%; 
}

header{
  padding: 2rem;
  
}


footer {
 
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }