body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
  }


.left-sidebar {
    grid-column: 1 / 2;
  }


.right-sidebar {
    
    grid-column: 3 / 4;
  }


  footer {
 
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }